.header h2 {
  display: flex;
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-left: 6rem;
}
.carousel {
  padding-left: 3rem;
  margin-left: 4rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.gradient-div1 {
  width: 100% !important;
  height: 9rem !important;
  background-image: linear-gradient(
    180deg,
    #add1d7,
    #adced483,
    rgba(255, 255, 255, 0.158)
  ) !important;
  padding: 4rem !important;
}

.category-header {
  font-size: 1.8rem;
  font-weight: 600;
}
/* ****** */

.category-name {
  font-size: 1.5rem;
  font-weight: 500;
}


.gradient-div {
  width: 80% !important;
  height: 9rem !important;
  background-image: linear-gradient(
    180deg,
    #add1d7,
    #adced483,
    rgba(255, 255, 255, 0.158)
  ) !important;
  padding: 4rem !important;
}

.category-name {
  font-size: 1.5rem;
  font-weight: 500;
}
.myDiv {
  display: flex;
  background-image: url("../../../../public/assets/bg.png");
  height: 20rem !important;
  width: 100% !important;
  background-size: cover;
  justify-content: space-evenly;
}

.text h2 {
  font-weight: 600;
  align-items: center !important;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .bg-new-color {
    display: flex !important;
    flex-direction: column;
    font-size: 0.8rem !important;
    font-weight: bold;
    text-align: center;
  }
  .category-name {
    text-align: center;
  }
  .gradient-div {
    margin-bottom: 4rem !important;
  }
}

@media only screen and (max-width: 580px) {
  .small-screen {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
