.head-text {
    position: relative;
    cursor: pointer;
    width: 100%;
  }
  .text-on-image {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  .gradient {
    width: 14rem;
    height: 8rem;
  }
  
  .linear-grad::after {
    display: block;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgba(0, 0, 0, 0.808) 100%
    );
    margin-top: -128px;
    height: 8rem;
    width: 100%;
    content: "";
  }